@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

:root {
	--color-primary: #333;
	--color-secondary: #666;
	--color-background: #fff;
	--color-border: #ccc;
	
	--font-family: 'Inter', sans-serif;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html, body {
	width: 100%;
	height: 100%;
}

body {
	font-family: var(--font-family);
	line-height: var(--line-height);
	background-color: var(--color-background);
}

